* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     background-color: black;
}

#game-panel-points {
     background-color: black;
     color: white;
     height: 45rem;
}

#panel-good, #panel-miss, #panel-great {
     font-size: 2rem;
}

#panel-points {
     font-size: 3rem;
}

#game-panel-points img{
     height: 100%;
     width: 300px;
     
}
