* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     background-color: black;
}

#myVideo {
     position: fixed;
     right: 0;
     bottom: 0;
     min-width: 100%; 
     min-height: 100%;
}

.contentText {
     position: fixed;
     bottom: 0;
     background: rgba(0, 0, 0, 0.5);
     color: #f1f1f1;
     width: 100%;
     padding: 15px;
}

#game-panel-points {
     background-color: black;
     color: white;
     height: 40em;
     margin-top: 1rem;
}

#demo {
     margin: 30px;
}

#panel-good, #panel-miss, #panel-great {
     font-size: 2rem;
}

#panel-points {
     font-size: 3rem;
}

#game-panel-points img{
     height: 100%;
     width: 20rem;
}

#instructions img{
     height: 100%;
     width: 2rem;
}